<h2>Education</h2>
<div class="section-container">
    <div class="experience" ng-repeat="edu in education">
        <h3>{{edu.title}}</h3>
        <div class="date-range">{{edu.dateRange}}</div>
        <div class="institution">{{edu.institution}}</div>
        <div class="list-set-container">
            <div class="courses-block list-block">
                <h4>Relevant Courses</h4>
                <ul>
                    <li ng-repeat="course in edu.courses">{{course}}</li>
                </ul>
            </div>
            <div class="accomplishments-block list-block">
                <h4>Accomplishments</h4>
                <ul>
                    <li ng-repeat="accomplishment in edu.accomplishments">{{accomplishment}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>