<h2>Additional Experience</h2>
<div class="section-container">
    <div class="experience" ng-repeat="exp in experience.unrelatedExperience">
        <h3>{{exp.title}}</h3>
        <div class="date-range">{{exp.dateRange}}</div>
        <div class="institution">{{exp.employer}}</div>
        <div class="list-set-container">
            <div class="responsibilities-block list-block">
                <h4>Responsibilities</h4>
                <ul>
                    <li ng-repeat="responsibility in exp.responsibilities">{{responsibility}}</li>
                </ul>
            </div>
            <div class="accomplishments-block list-block">
                <h4>Accomplishments</h4>
                <ul>
                    <li ng-repeat="accomplishment in exp.accomplishments">{{accomplishment}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>