@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800);

@media screen {
  body {
    background-color: lavender;
  }
}

body {
  min-width: 320px;

  font-family: 'Merriweather Sans', sans-serif;
}

p {
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    margin: 0;
  }
}